<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.page' | appTranslate:'justificativa'}}</h5>
        <button pButton pRipple routerLink="../new" label="{{'action.add' | appTranslate:'justificativa'}}"></button>
      </div>

      <app-filter (onSearch)="filter()" (onClear)="clearFilter()" [(filters)]="pagination.filter">
        <app-justificativa-filters appFilterRef></app-justificativa-filters>
      </app-filter>
      <div class="p-mr-2 p-mb-2">
        <app-table-exporter
          [empty]="tableData === null || tableData.length === 0"
          [title]="'title.exporter' | appTranslate: 'justificativa'"
          filename="justificativa_exportacao"
          [filter]="pagination.filter"
          [sort]="pagination.sort"
          [service]="service"
          [configuration]="exporterConfig"
        ></app-table-exporter>
      </div>

      <div class="list-body">
        <p-table
          [value]="tableData"
          [lazy]="true"
          (onLazyLoad)="paginate($event)"
          [paginator]="true"
          [first]="pagination.first"
          [multiSortMeta]="multiSortMeta"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [rows]="pagination.pageSize"
          [totalRecords]="pagination.totalRecords"
          [rowsPerPageOptions]="pagination.pageSizeOptions"
          sortMode="single"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" colspan="1" pSortableColumn="id">
                {{'field.id' | appTranslate:'justificativa'}}
                <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="descricao">
                {{'field.descricao' | appTranslate:'justificativa'}}
                <p-sortIcon field="descricao"></p-sortIcon>
              </th>
              <th style="text-align: center" scope="col" colspan="1" pSortableColumn="situacao">
                {{'field.situacao' | appTranslate:'justificativa'}}
                <p-sortIcon field="situacao"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="dataCriacao">
                {{'field.dataCriacao' | appTranslate:'justificativa'}}
                <p-sortIcon field="dataCriacao"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" class="actions">{{'actions' | appTranslate:'shared'}}</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-entity let-expanded="expanded">
            <tr>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.id' | appTranslate:'justificativa'}}</span>
                <span> {{entity.id}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'justificativa'}}</span>
                <span style="white-space: pre"> {{entity.descricao}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.situacao' | appTranslate:'justificativa'}}</span>
                <span>
                  <div class="btn-situacao">
                    <app-situacao-button
                      (onUpdateStatus)="updateStatus($event, entity.situacao)"
                      [entityId]="entity.id"
                      [ativo]="entity.situacao"
                    ></app-situacao-button>
                  </div>
                </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.dataCriacao' | appTranslate:'justificativa'}}</span>
                <span> {{entity.dataCriacao | date:'dd/MM/yyyy'}} </span>
              </td>
              <td colspan="1" class="actions">
                <span class="p-column-title bold"> {{'actions' | appTranslate:'shared'}}</span>
                <app-table-buttons
                  page="justificativa"
                  [entityId]="entity.id"
                  [detailPermission]="false"
                  (onRemove)="remove($event)"
                ></app-table-buttons>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="2">{{'no_records' | appTranslate:'shared'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
