<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'auxilio_alimentacao'}}</h5>
      </div>

      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared'}}</p>

      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-8 md:col-8" [submitted]="submitted" page="auxilio_alimentacao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="orgaoList"
              optionLabel="descricao"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="orgao"
              dataKey="descricao"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-4 md:col-4" [submitted]="submitted" page="auxilio_alimentacao">
            <p-inputNumber appFieldRef formControlName="dias" maxlength="2" max="99" min="1" />
          </app-field>
        </div>

        <div style="margin-top: 20px">
          <app-form-buttons (onCancel)="cancel()"></app-form-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
