<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.page' | appTranslate:'valor_diaria'}}</h5>
        <button pButton pRipple routerLink="../new" label="{{'action.add' | appTranslate:'valor_diaria'}}"></button>
      </div>

      <app-filter (onSearch)="filter()" (onClear)="clearFilter()" [(filters)]="pagination.filter">
        <app-valor-diaria-filters appFilterRef></app-valor-diaria-filters>
      </app-filter>
      <div class="p-mr-2 p-mb-2">
        <app-table-exporter
          [empty]="tableData === null || tableData.length === 0"
          [title]="'title.exporter' | appTranslate: 'valor_diaria'"
          filename="valor_diaria_exportacao"
          [filter]="pagination.filter"
          [sort]="pagination.sort"
          [service]="service"
          [configuration]="exporterConfig"
        ></app-table-exporter>
      </div>

      <div class="list-body">
        <p-table
          [value]="tableData"
          [lazy]="true"
          (onLazyLoad)="paginate($event)"
          [paginator]="true"
          [first]="pagination.first"
          [multiSortMeta]="multiSortMeta"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [(rows)]="pagination.pageSize"
          [rowsPerPageOptions]="pagination.pageSizeOptions"
          [totalRecords]="pagination.totalRecords"
          sortMode="single"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" colspan="1" pSortableColumn="valor">
                {{'field.valor' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="valor"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="tipoLocalidade.descricao">
                {{'field.tipoLocalidade' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="tipoLocalidade"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="cargo">
                {{'field.cargos' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="cargo"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="normativo">
                {{'field.normativo' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="normativo"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="dataNormativo">
                {{'field.dataPublicacaoNormativo' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="dataNormativo"></p-sortIcon>
              </th>
              <th style="text-align: center" scope="col" colspan="1" pSortableColumn="situacao">
                {{'field.situacao' | appTranslate:'valor_diaria'}}
                <p-sortIcon field="situacao"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" class="actions">{{'actions' | appTranslate:'shared'}}</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-entity let-expanded="expanded">
            <tr>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.valor' | appTranslate:'valor_diaria'}}</span>
                <span> {{entity.valor | thousandFormat}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.tipo_localidade' | appTranslate:'valor_diaria'}}</span>
                <span style="white-space: pre"> {{entity.tipoLocalidade.descricao}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.cargos' | appTranslate:'valor_diaria'}}</span>
                <div *ngFor="let c of entity.cargo">
                  <span style="white-space: pre"> {{c | cargoPipe}} </span>
                </div>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.normativo' | appTranslate:'valor_diaria'}}</span>
                <span> {{entity.normativo}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.dataNormativo' | appTranslate:'valor_diaria'}}</span>
                <span> {{entity.dataNormativo | date:'dd/MM/yyyy'}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.situacao' | appTranslate:'valor_diaria'}}</span>
                <span>
                  <div class="btn-situacao">
                    <app-situacao-button
                      (onUpdateStatus)="updateStatus($event, entity.situacao)"
                      [entityId]="entity.id"
                      [ativo]="entity.situacao"
                    ></app-situacao-button>
                  </div>
                </span>
              </td>
              <td colspan="1" class="actions">
                <span class="p-column-title bold"> {{'actions' | appTranslate:'shared'}}</span>
                <app-table-buttons
                  page="valor_diaria"
                  [entityId]="entity.id"
                  [detailPermission]="false"
                  (onRemove)="remove($event)"
                ></app-table-buttons>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center" colspan="99">{{'no_records' | appTranslate:'shared'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
