<p-toast></p-toast>
<div class="container-body">
  <div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <form (ngSubmit)="submit()" class="login-content">
      <div class="night-switch"></div>
      <div class="login-panel" style="">
        <div class="login-panel-content">
          <div class="p-ai-center logo-container">
            <img [src]="'assets/layout/images/logo-'+ (app.colorScheme === 'light' ? 'gray' : 'gray') + '.png'" class="login-logo" />
          </div>
          <h1>{{'label.title' | appTranslate:'login'}} - {{'name' | appTranslate:'application'}}</h1>
          <div class="forms" style="margin-top: 40px; margin-bottom: 40px">
            <div class="buttons centro">
              <button
                pButton
                type="button"
                (click)="submit()"
                [routerLink]="['/']"
                label="{{'label.entrar' | appTranslate:'login'}}"
              ></button>
            </div>
          </div>
<!--          <div class="centro" style="margin-top: 20px">{{'label.description' | appTranslate:'login'}}</div>-->
        </div>
      </div>
    </form>
  </div>
  <div class="footer">{{version}}</div>
</div>
