<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'exemplo'}}</h5>
      </div>
      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared'}}</p>
      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-8" [submitted]="submitted" page="exemplo">
            <input appFieldRef pInputText type="text" formControlName="nome" />
          </app-field>

          <app-field class="p-field col-12 md:col-4" [submitted]="submitted" page="exemplo">
            <input appFieldRef pInputText type="text" formControlName="descricao" />
          </app-field>
        </div>
        <div style="margin-top: 20px">
          <app-form-buttons (onCancel)="cancel()"></app-form-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
