.actions {
  text-align: center !important;
  width: 120px;
}

.bold {
  font-weight: 500;
}

.btn-situacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
