<div class="p-fluid formgrid grid" [formGroup]="formGroup">
  <app-field class="p-field col-6 md:col-6" page="evento">
    <input appFieldRef pInputText type="text" formControlName="nomeEvento" maxlength="100" />
  </app-field>
  <app-field class="p-field col-6 md:col-6" page="evento">
    <p-dropdown
      optionLabel="descricao"
      appFieldRef
      dataKey="id"
      optionLabel="descricao"
      [options]="listTipoEvento"
      placeholder="{{'select' | appTranslate:'shared'}}"
      formControlName="tipoEvento"
      emptyFilterMessage="{{'no_records' | appTranslate: 'shared'}}"
      emptyMessage="{{'no_records' | appTranslate: 'shared'}}"
    >
      <ng-template let-item pTemplate="selectedItem">
        <span pTooltip="{{item.descricao}}">{{item.descricao | appEllipse: 40}}</span>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <span pTooltip="{{item.descricao}}">{{item.descricao | appEllipse: 40}}</span>
      </ng-template>
    </p-dropdown>
  </app-field>

  <app-field class="p-field col-12 md:col-6" [noValidation]="true" page="evento">
    <p-dropdown
      appFieldRef
      [options]="unidadeList"
      placeholder="{{'select' | appTranslate:'shared'}}"
      formControlName="unidade"
    ></p-dropdown>
  </app-field>

  <app-field class="p-field col-12 md:col-6" page="evento">
    <input appFieldRef pInputText type="text" formControlName="organizadora" maxlength="100" />
  </app-field>

  <app-field class="p-field col-2 md:col-2" page="evento">
    <p-calendar
      appFieldRef
      formControlName="dataInicioInicial"
      dateFormat="dd/mm/yy"
      monthNavigator="true"
      yearNavigator="true"
      yearRange="1990:2050"
      showIcon="true"
      appDateMask
    ></p-calendar>
  </app-field>
  <app-field class="p-field col-2 md:col-2" page="evento">
    <p-calendar
      appFieldRef
      formControlName="dataInicioFinal"
      dateFormat="dd/mm/yy"
      monthNavigator="true"
      yearNavigator="true"
      yearRange="1990:2050"
      showIcon="true"
      appDateMask
    ></p-calendar>
  </app-field>

  <app-field class="p-field col-2 md:col-2" page="evento">
    <p-calendar
      appFieldRef
      formControlName="dataTerminoInicial"
      dateFormat="dd/mm/yy"
      monthNavigator="true"
      yearNavigator="true"
      yearRange="1990:2050"
      showIcon="true"
      appDateMask
    ></p-calendar>
  </app-field>
  <app-field class="p-field col-2 md:col-2" page="evento">
    <p-calendar
      appFieldRef
      formControlName="dataTerminoFinal"
      dateFormat="dd/mm/yy"
      monthNavigator="true"
      yearNavigator="true"
      yearRange="1990:2050"
      showIcon="true"
      appDateMask
    ></p-calendar>
  </app-field>

  <app-field class="p-field col-4 md:col-4" page="evento" multiple>
    <p-multiSelect
      appFieldRef
      [options]="optSituacaoCondicao"
      formControlName="situacaoCondicao"
      [(ngModel)]="selectedSituacao"
    ></p-multiSelect>
  </app-field>
</div>
