<app-loading></app-loading>
<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.page' | appTranslate:'produtos_incidencia_monofasica'}}</h5>
      </div>
      <app-filter (onSearch)="filter()" (onClear)="clearFilter()" [(filters)]="pagination.filter">
        <app-produtos-incidencia-monofasica-filters appFilterRef></app-produtos-incidencia-monofasica-filters>
      </app-filter>
      <div class="list-body">
        <p-table
          [value]="tableData"
          [lazy]="true"
          (onLazyLoad)="paginate($event)"
          [paginator]="true"
          [first]="pagination.first"
          [multiSortMeta]="multiSortMeta"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [rows]="pagination.pageSize"
          [rowsPerPageOptions]="pagination.pageSizeOptions"
          [totalRecords]="pagination.totalRecords"
          sortMode="single"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" colspan="1">
                {{'field.nf_numero' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.ncm' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.pis_valor' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.cofins_valor' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.produto_valor' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.quantidade' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
              <th scope="col" colspan="1">
                {{'field.valor_total' | appTranslate:'produtos_incidencia_monofasica'}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entity let-expanded="expanded">
            <tr>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.nome' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.det.infnf.ide.nNF}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.ncm}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.xProd}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.det.imposto.pis?.pisaliq?.vPIS | thousandFormat}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.det.imposto.cofins?.cofinsaliq?.vCOFINS | thousandFormat}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.vUnCom | thousandFormat}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.qCom}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'produtos_incidencia_monofasica'}}</span>
                <span> {{entity.vProd | thousandFormat}} </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center" colspan="99">{{'no_records' | appTranslate:'shared'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>