.actions {
  text-align: center !important;
  width: 100px;
}

.crud-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
