<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'aquisicao' }}</h5>
      </div>
      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared' }}</p>
      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Paciente</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-6" [submitted]="submitted" [labelName]="'cliente.nome'" page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="clientes"
              optionLabel="nome"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="cliente"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-6" [submitted]="submitted" [labelName]="'data_aquisicao'" page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataAquisicao"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Procedimentos</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-6" [submitted]="submitted" [labelName]="'procedimento.nome'" page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="procedimentosForSelect"
              optionLabel="name"
              formControlName="procedimentoSelecionadoForm"
              placeholder="{{'select' | appTranslate:'shared'}}"
              (onChange)="procedimentoChange()"
            >
            </p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-6" [submitted]="submitted" [labelName]="'regiao.nome'" page="aquisicao">
            <p-dropdown
              [disabled]="true"
              appFieldRef
              [filter]="true"
              optionLabel="nome"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="regioesProcedimentoSelecionado"
              formControlName="regiao"
              placeholder="{{'select' | appTranslate:'shared'}}"
              (onChange)="onRegiaoSelect()"
            ></p-dropdown>
          </app-field>
        </div>
        <p-table
          *ngIf="getProcedimentosDaAquisicao() && getProcedimentosDaAquisicao().length > 0"
          [value]="getProcedimentosDaAquisicao()"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Região</th>
              <th>Valor</th>
              <th>Quantidade de Sessões</th>
              <th>Intervalo Entre Sessões</th>
              <th style="width: 5rem">Remover</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-regiao let-editing="editing">
            <tr>
              <td>{{ regiao.procedimento }}</td>
              <td>{{ regiao.nome }}</td>
              <td>{{ regiao.valor | thousandFormat }}</td>
              <td [pEditableColumn]="regiao.quantidadeSessoes" (change)="atualizaValorDesconto()" pEditableColumnField="code">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="regiao.quantidadeSessoes" [ngModelOptions]="{standalone: true}" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ regiao.quantidadeSessoes }}</ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="regiao.intervaloEntreSessoes" pEditableColumnField="code">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="regiao.intervaloEntreSessoes" [ngModelOptions]="{standalone: true}" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ regiao.intervaloEntreSessoes }}</ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-danger p-button-text"
                  (click)="onRowRemove(regiao)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <span>Valor procedimentos: {{ getValorTotalProcedimentos() | thousandFormat }}</span>
          </ng-template>
        </p-table>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-money-bill mr-2"></i>
            <b>Pagamento</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-6" [submitted]="submitted" [labelName]="'forma_pagamento'" page="aquisicao">
            <p-dropdown
              (onChange)="onValorDePagamentoAlterado()"
              appFieldRef
              optionValue="value"
              optionLabel="label"
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="formasPagamento"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="formaPagamento"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-6" [labelName]="'valor_pagamento'" page="aquisicao">
            <p-inputNumber
              appFieldRef
              (onInput)="onValorDePagamentoAlterado()"
              formControlName="valorPagamento"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field class="p-field col-12 md:col-4 lg:col-4" [labelName]="'valor_taxa'" page="aquisicao">
            <p-inputNumber
              appFieldRef
              (onInput)="onValorDePagamentoAlterado()"
              formControlName="valorTaxa"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field class="p-field col-6 md:col-4 lg:col-4" [submitted]="submitted" [labelName]="'data_pagamento'" page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataPagamento"
              dateFormat="dd/mm/yy"
              (onSelect)="onValorDePagamentoAlterado()"
              (onInput)="onValorDePagamentoAlterado()"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <label class="label">
            <span>&nbsp;</span>
            <p-button
              [disabled]="disabledAdicionarPagamento"
              class="col-6 md:col-4 lg:col-4"
              label="Adicionar Pagamento"
              icon="pi pi-arrow-down"
              styleClass="p-button-outlined p-button-success"
              (click)="onAddPagamento()"
            ></p-button>
          </label>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-money-bill mr-2"></i>
            <b>Total</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <p-table *ngIf="getPagamentosInForm().length > 0" [value]="getPagamentosInForm()" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Forma de Pagamento</th>
              <th>Valor</th>
              <th>Taxa</th>
              <th>Data do Pagamento</th>
              <th style="width: 5rem">Remover</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pagamento let-index let-editing="editing">
            <tr>
              <td>{{ formatarNomePagamento(pagamento.formaPagamento) }}</td>
              <td [pEditableColumn]="pagamento.valorPagamento" (change)="atualizaValorDesconto()" pEditableColumnField="code">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="pagamento.valorPagamento" [ngModelOptions]="{standalone: true}" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ pagamento.valorPagamento | thousandFormat }}</ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="pagamento.taxa" pEditableColumnField="code">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="pagamento.taxa" [ngModelOptions]="{standalone: true}" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ pagamento.taxa | thousandFormat }}</ng-template>
                </p-cellEditor>
              </td>
              <td>{{ pagamento.dataPagamento | date: 'dd/MM/yyyy' }}</td>
              <td>
                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-danger p-button-text"
                  (click)="onRowRemovePagamento(index)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <hr />
            <span>Valor Pagamentos: {{ getValorTotalPagamentos() | thousandFormat }}</span>
            <p></p>
            <span>Valor Desconto: {{getValorDesconto() | thousandFormat}}</span>
          </ng-template>
        </p-table>
        <div style="margin-top: 20px">
          <app-form-buttons (onCancel)="cancel()"></app-form-buttons>
        </div>
      </form>
    </div>
    <p-accordion *ngIf="true">
      <p-accordionTab header="Formulário">
        <pre>{{ formGroup.value | json }}</pre>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
