<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'aquisicao' }}</h5>
      </div>
      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared' }}</p>
      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'cliente.nome'"
                     page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="clientes"
              optionLabel="nome"
              optionValue="id"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="cliente"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'data_aquisicao'"
                     page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataAquisicao"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <!--          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_aquisicao'" page="aquisicao">-->
          <!--            <p-inputNumber-->
          <!--              appFieldRef-->
          <!--              formControlName="valorAquisicao"-->
          <!--              inputId="currency-brazil"-->
          <!--              mode="currency"-->
          <!--              currency="BRL"-->
          <!--              locale="pt-BR"-->
          <!--              maxlength="13"-->
          <!--            />-->
          <!--          </app-field>-->
          <!--          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_desconto'" page="aquisicao">-->
          <!--            <p-inputNumber-->
          <!--              appFieldRef-->
          <!--              formControlName="valorDesconto"-->
          <!--              inputId="currency-brazil"-->
          <!--              mode="currency"-->
          <!--              currency="BRL"-->
          <!--              locale="pt-BR"-->
          <!--            />-->
          <!--          </app-field>-->
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'procedimento.nome'"
                     page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="procedimentos"
              optionLabel="nome"
              formControlName="procedimento"
              placeholder="{{'select' | appTranslate:'shared'}}"
              (onChange)="inserirProcedimento()"
            ></p-dropdown>
          </app-field>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Procedimentos</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <p-table [value]="procedimentosInseridos" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 20%">Nome</th>
              <th style="width: 20%">Preço</th>
              <th style="width: 20%">Quantidade Sessões</th>
              <th style="width: 20%">Intervalo entre Sessões</th>
              <th style="width: 20%">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-procedimento let-editing="editing" let-ri="rowIndex">
            <tr>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ procedimento.nome }}</ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ procedimento.valor | thousandFormat }}</ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="procedimento.quantidadeSessoes" pEditableColumnField="quantidadeSessoes">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="number"
                      required
                      [(ngModel)]="procedimento.quantidadeSessoes"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ procedimento.quantidadeSessoes }}</ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="procedimento.intervaloEntreSessoes" pEditableColumnField="intervaloEntreSessoes">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="number"
                      [(ngModel)]="procedimento.intervaloEntreSessoes"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ procedimento.intervaloEntreSessoes }}</ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    (click)="onRowRemoveAA(procedimento)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Pagamento</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-3" [submitted]="submitted" [labelName]="'forma_pagamento'"
                     page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="formasPagamento"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="formaPagamento"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'data_pagamento'"
                     page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataPagamento"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_pagamento'" page="aquisicao">
            <p-inputNumber
              appFieldRef
              formControlName="valorPagamento"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-6"
            page="aquisicao"
            labelName="quantidade_parcelas"
            *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO"
          >
            <input appFieldRef pInputText disabled type="number" formControlName="quantidadeParcelas" maxlength="100" />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_taxa'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO || formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_DEBITO || formGroup.controls['formaPagamento'].value === EFormaPagamento.PIX "
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="taxa"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
        </div>
        <p-divider align="left" *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Parcela</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'data_credito'" page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataCredito"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_credito'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO"
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="valorCredito"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_taxa'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO"
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="valorTaxa"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-6"
            page="aquisicao"
            labelName="numero_parcela"
            *ngIf="formGroup.controls['formaPagamento'].value === EFormaPagamento.CARTAO_CREDITO"
          >
            <input appFieldRef pInputText disabled type="number" formControlName="numeroParcela" maxlength="100" />
          </app-field>
        </div>
      </form>
      {{ formGroup.value | json }}
    </div>
  </div>
</div>
