<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'aquisicao' }}</h5>
      </div>
      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared' }}</p>
      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'cliente.nome'" page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="clientes"
              optionLabel="nome"
              optionValue="id"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="cliente"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'data_aquisicao'" page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataAquisicao"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <!--          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_aquisicao'" page="aquisicao">-->
          <!--            <p-inputNumber-->
          <!--              appFieldRef-->
          <!--              formControlName="valorAquisicao"-->
          <!--              inputId="currency-brazil"-->
          <!--              mode="currency"-->
          <!--              currency="BRL"-->
          <!--              locale="pt-BR"-->
          <!--              maxlength="13"-->
          <!--            />-->
          <!--          </app-field>-->
          <!--          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_desconto'" page="aquisicao">-->
          <!--            <p-inputNumber-->
          <!--              appFieldRef-->
          <!--              formControlName="valorDesconto"-->
          <!--              inputId="currency-brazil"-->
          <!--              mode="currency"-->
          <!--              currency="BRL"-->
          <!--              locale="pt-BR"-->
          <!--            />-->
          <!--          </app-field>-->
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'procedimento.nome'" page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="procedimentos"
              optionLabel="nome"
              formControlName="procedimento"
              placeholder="{{'select' | appTranslate:'shared'}}"
              (onChange)="procedimentoChange()"
            ></p-dropdown>
          </app-field>
          <app-field
            *ngIf="exibirSelectRegiao()"
            class="p-field col-12 md:col-6 lg:col-4"
            [submitted]="submitted"
            [labelName]="'regiao.nome'"
            page="aquisicao"
          >
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="regioes"
              optionLabel="nome"
              formControlName="regiao"
              placeholder="{{'select' | appTranslate:'shared'}}"
              (onChange)="onRegiaoChange()"
            ></p-dropdown>
          </app-field>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Procedimentos</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <p-treeTable [value]="exemplo" [columns]="cols" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">{{ col.header }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td
                *ngFor="let col of columns; let i = index"
                ttEditableColumn
                [ttEditableColumnDisabled]="i === 0"
                [ngClass]="{ 'p-toggler-column': i === 0 }"
              >
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                <p-treeTableCellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}" />
                  </ng-template>
                  <ng-template pTemplate="output">{{ rowData[col.field] }}</ng-template>
                </p-treeTableCellEditor>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>

        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Pagamento</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-12 md:col-6 lg:col-3" [submitted]="submitted" [labelName]="'forma_pagamento'" page="aquisicao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="formasPagamento"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="formaPagamento"
            ></p-dropdown>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [submitted]="submitted" [labelName]="'data_pagamento'" page="aquisicao">
            <p-calendar
              appFieldRef
              formControlName="dataPagamento"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <app-field class="p-field col-12 md:col-6 lg:col-4" [labelName]="'valor_pagamento'" page="aquisicao">
            <p-inputNumber
              appFieldRef
              formControlName="valorPagamento"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-6"
            page="aquisicao"
            labelName="quantidade_parcelas"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO"
          >
            <input appFieldRef pInputText disabled type="number" formControlName="quantidadeParcelas" maxlength="100" />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_taxa'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO || formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_DEBITO || formGroup.controls['formaPagamento'].value === eFormaPagamento.PIX "
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="taxa"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
        </div>
        <p-divider align="left" *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO">
          <div class="inline-flex align-items-center">
            <i class="pi pi-shopping-cart mr-2"></i>
            <b>Parcela</b>
            <div class="detail-body grid"></div>
          </div>
        </p-divider>
        <div class="p-fluid formgrid grid">
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO"
            [submitted]="submitted"
            [labelName]="'data_credito'"
            page="aquisicao"
          >
            <p-calendar
              appFieldRef
              formControlName="dataCredito"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_credito'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO"
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="valorCredito"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-4"
            [labelName]="'valor_taxa_parcela'"
            page="aquisicao"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO"
          >
            <p-inputNumber
              appFieldRef
              disabled
              formControlName="valorTaxa"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </app-field>
          <app-field
            class="p-field col-12 md:col-6 lg:col-6"
            page="aquisicao"
            labelName="numero_parcela"
            *ngIf="formGroup.controls['formaPagamento'].value === eFormaPagamento.CARTAO_CREDITO"
          >
            <input appFieldRef pInputText disabled type="number" formControlName="numeroParcela" maxlength="100" />
          </app-field>
        </div>
        <div class="p-fluid formgrid grid">
          <div class="p-field col-6">
            <app-data-label
              title="{{'field.valor_aquisicao' | appTranslate:'aquisicao'}}"
              [value]="formGroup.controls['valorAquisicao'].value | thousandFormat"
            ></app-data-label>
          </div>
          <div class="p-field col-6">
            <app-data-label
              title="{{'field.valor_desconto' | appTranslate:'aquisicao'}}"
              [value]="formGroup.controls['valorDesconto'].value | thousandFormat"
            ></app-data-label>
          </div>
        </div>
      </form>
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-shopping-cart mr-2"></i>
          <b>Procedimento</b>
          <div class="detail-body grid"></div>
        </div>
      </p-divider>
      {{ formGroup.value['procedimento'] | json }}
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-shopping-cart mr-2"></i>
          <b>Procedimentos</b>
          <div class="detail-body grid"></div>
        </div>
      </p-divider>
      {{ formGroup.value['procedimentos'] | json }}
    </div>
  </div>
</div>
