<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'companhia-aerea'}}</h5>
      </div>

      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared'}}</p>

      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="field col-12 md:col-4" [submitted]="submitted" page="companhia-aerea">
            <input appFieldRef pInputText type="text" formControlName="nome" />
          </app-field>

          <app-field class="field col-12 md:col-4" [submitted]="submitted" page="companhia-aerea">
            <input appFieldRef pInputText type="text" formControlName="sigla" maxlength="20" style="text-transform: uppercase" />
          </app-field>

          <app-field class="field col-12 md:col-4" [submitted]="submitted" page="companhia-aerea">
            <p-inputMask mask="99.999.999/9999-99" formControlName="cnpj"></p-inputMask>
          </app-field>
        </div>
        <div style="margin-top: 20px">
          <div class="quadro">
            <app-contato-form
              (onAdicionar)="salvarContatoLista($event, this.posicaoEdicao)"
              [contatoEditar]="this.contatoEditar"
            ></app-contato-form>
            <app-contato-list [listaContato]="this.listaContato" (onEditar)="editarContato($event)"></app-contato-list>
          </div>
        </div>

        <div style="margin-top: 20px">
          <app-form-buttons (onCancel)="cancel()"></app-form-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
