<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'autorizar_solicitacao'}}</h5>
      </div>

      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared'}}</p>

      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-8 md:col-8" [submitted]="submitted" page="autorizar_solicitacao">
            <p-dropdown
              appFieldRef
              [filter]="true"
              emptyFilterMessage="{{'no_records' | appTranslate:'shared'}}"
              [options]="justificativaList"
              optionLabel="descricao"
              placeholder="{{'select' | appTranslate:'shared'}}"
              formControlName="justificativa"
            ></p-dropdown>
          </app-field>

          <app-field class="field col-8 md:col-8" [noValidation]="true" page="autorizar_solicitacao">
            <input appFieldRef pInputText type="text" formControlName="detalhamentoJustificativa" maxlength="4000" />
          </app-field>
        </div>

        <div class="form-buttons">
          <button
            pButton
            pRipple
            (click)="cancel()"
            type="button"
            label="{{'back' | appTranslate:'shared'}}"
            class="p-button-outlined"
          ></button>
          <button
            [disabled]="isSubmitted"
            pButton
            pRipple
            type="submit"
            *ngIf="!isDetail"
            label="{{'modify' | appTranslate:'shared'}}"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
