<app-loading></app-loading>
<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.page' | appTranslate:'xml'}}</h5>
        <button pButton pRipple routerLink="../upload" label="{{'action.upload' | appTranslate:'xml'}}"></button>
      </div>
      <app-filter (onSearch)="filter()" (onClear)="clearFilter()" [(filters)]="pagination.filter">
        <app-xml-filters appFilterRef></app-xml-filters>
      </app-filter>
      <div class="list-body">
        <p-table
          [value]="tableData"
          [lazy]="true"
          (onLazyLoad)="paginate($event)"
          [paginator]="true"
          [first]="pagination.first"
          [multiSortMeta]="multiSortMeta"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 20, 50]"
          [totalRecords]="pagination.totalRecords"
          sortMode="single"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.ide.nNF">
                {{'field.numero' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.ide.nNF"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.ide.natOp">
                {{'field.nat_op' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.ide.natOp"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.ide.dhEmi">
                {{'field.dataEmissao' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.ide.dhEmi"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.dest.cnpj">
                {{'field.cnpj' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.dest.cnpj"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.dest.xNome">
                {{'field.destinatario' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.dest.xNome"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.emit.xNome">
                {{'field.remetente' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.emit.xNome"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="nfe.inf.total.icmstot.vNF">
                {{'field.valor' | appTranslate:'xml'}}
                <p-sortIcon field="nfe.inf.total.icmstot.vNF"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" class="actions">{{'actions' | appTranslate:'shared'}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entity let-expanded="expanded">
            <tr>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.id' | appTranslate:'xml'}}</span>
                <span pTooltip="{{entity.nfe.inf.ide.nNF}}"> {{entity.nfe.inf.ide.nNF}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.nat_op' | appTranslate:'xml'}}</span>
                <span pTooltip="{{entity.nfe.inf.ide.natOp}}"> {{getNatureza(entity.nfe.inf.ide.natOp)}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.dataEmissao' | appTranslate:'xml'}}</span>
                <span> {{entity.nfe.inf.ide.dhEmi | date:'dd/MM/yyyy'}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.cnpj' | appTranslate:'xml'}}</span>
                <span pTooltip="{{entity.nfe.inf.dest.cnpj}}"> {{entity.nfe.inf.dest.cnpj | cnpjCpfPipe: true}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.destinatario' | appTranslate:'xml'}}</span>
                <span pTooltip="{{entity.nfe.inf.dest.xNome}}"> {{entity.nfe.inf.dest.xNome}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.remetente' | appTranslate:'xml'}}</span>
                <span pTooltip="{{entity.nfe.inf.emit.xNome}}"> {{entity.nfe.inf.emit.xNome}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.valor' | appTranslate:'xml'}}</span>
                <span> {{entity.nfe.inf.total.icmstot.vNF | thousandFormat}} </span>
              </td>
              <td colspan="1" class="actions">
                <span class="p-column-title bold"> {{'actions' | appTranslate:'shared'}}</span>
                <app-table-buttons
                  page="xml"
                  [disabled]="false"
                  [entityId]="entity.id"
                  (onRemove)="remove($event)"
                  (onDownload)="download($event)"
                  isDownloadVisivel="true"
                  [showEdit]="false"
                ></app-table-buttons>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center" colspan="99">{{'no_records' | appTranslate:'shared'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
