<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.page' | appTranslate:'exemplo'}}</h5>
        <button pButton pRipple routerLink="../new" label="{{'action.add' | appTranslate:'exemplo'}}"></button>
      </div>
      <app-filter (onSearch)="filter()" (onClear)="clearFilter()" [(filters)]="pagination.filter">
        <app-exemplo-filters appFilterRef></app-exemplo-filters>
      </app-filter>
      <div class="list-body">
        <p-table
          [value]="tableData"
          [lazy]="true"
          (onLazyLoad)="paginate($event)"
          [paginator]="true"
          [first]="pagination.first"
          [multiSortMeta]="multiSortMeta"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [rows]="pagination.pageSize"
          [rowsPerPageOptions]="pagination.pageSizeOptions"
          [totalRecords]="pagination.totalRecords"
          sortMode="single"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" colspan="1" pSortableColumn="nome">
                {{'field.nome' | appTranslate:'exemplo'}}
                <p-sortIcon field="nome"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" pSortableColumn="descricao">
                {{'field.descricao' | appTranslate:'exemplo'}}
                <p-sortIcon field="descricao"></p-sortIcon>
              </th>
              <th scope="col" colspan="1" class="actions">{{'actions' | appTranslate:'shared'}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entity let-expanded="expanded">
            <tr>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.nome' | appTranslate:'exemplo'}}</span>
                <span pTooltip="{{entity.nome}}"> {{entity.nome}} </span>
              </td>
              <td colspan="1">
                <span class="p-column-title bold"> {{'field.descricao' | appTranslate:'exemplo'}}</span>
                <span pTooltip="{{entity.descricao}}"> {{entity.descricao}} </span>
              </td>
              <td colspan="1" class="actions">
                <span class="p-column-title bold"> {{'actions' | appTranslate:'shared'}}</span>
                <app-table-buttons page="exemplo" [entityId]="entity.id" (onRemove)="remove($event)"></app-table-buttons>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center" colspan="99">{{'no_records' | appTranslate:'shared'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
