<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ 'title.detail' | appTranslate:'xml' }}</h5>
      </div>
      <p-divider align="center">
        <div class="inline-flex align-items-center">
          <i class="pi pi-user mr-2"></i>
          <b>Indentificação</b>
        </div>
      </p-divider>
      <div class="detail-body grid">
        <div class="col-3">
          <app-data-label title="{{'field.destinatario' | appTranslate:'xml'}}" [value]="entity?.NFe.infNFe.dest.xNome"></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label
            title="{{'field.cnpj' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.dest.CNPJ | cnpjCpfPipe: true"
          ></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label title="{{'field.remetente' | appTranslate:'xml'}}" [value]="entity?.NFe.infNFe.emit.xNome"></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label
            title="{{'field.remetente_cnpj' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.emit.CNPJ | cnpjCpfPipe: true"
          ></app-data-label>
        </div>
      </div>
      <div class="detail-body grid">
        <div class="col-3">
          <app-data-label title="{{'field.numero' | appTranslate:'xml'}}" [value]="entity?.NFe.infNFe.ide.nNF"></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label
            title="{{'field.dataemissao' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.ide.dhEmi | date: 'dd/MM/yyyy'"
          ></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label
            title="{{'field.natureza_operacao' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.ide.natOp"
          ></app-data-label>
        </div>
        <div class="col-3">
          <app-data-label
            title="{{'field.valor_total_nfe' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vNF | thousandFormat"
          ></app-data-label>
        </div>
      </div>
      <p-divider align="center">
        <div class="inline-flex align-items-center">
          <i class="pi pi-money-bill mr-2"></i>
          <b>Impostos</b>
        </div>
      </p-divider>
      <div class="detail-body grid">
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vBC && entity?.NFe.infNFe.total.ICMSTot.vBC > 0 " class="col-3">
          <app-data-label
            title="{{'field.base_calculo_icms' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vBC | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vICMS && entity?.NFe.infNFe.total.ICMSTot.vICMS > 0 " class="col-3">
          <app-data-label
            title="{{'field.valor_icms' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vICMS | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vICMSDeson && entity?.NFe.infNFe.total.ICMSTot.vICMSDeson > 0 " class="col-3">
          <app-data-label
            title="{{'field.valor_icms_desonerado' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vICMSDeson | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vBCST && entity?.NFe.infNFe.total.ICMSTot.vBCST > 0 " class="col-3">
          <app-data-label
            title="{{'field.base_de_calculo_icms_st' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vBCST | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vST && entity?.NFe.infNFe.total.ICMSTot.vST > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_icms_st' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vST | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vICMSUFRemet && entity?.NFe.infNFe.total.ICMSTot.vICMSUFRemet > 0 " class="col-3">
          <app-data-label
            title="{{'field.valor_icms_remet_uf' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vICMSUFRemet | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vICMSUFDest && entity?.NFe.infNFe.total.ICMSTot.vICMSUFDest > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_icms_destino_uf' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vICMSUFDest | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vProd && entity?.NFe.infNFe.total.ICMSTot.vProd > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_total_produtos' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vProd | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vFrete && entity?.NFe.infNFe.total.ICMSTot.vFrete > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_frete' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vFrete | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vSeg && entity?.NFe.infNFe.total.ICMSTot.vSeg > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_seguro' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vSeg | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vDesc && entity?.NFe.infNFe.total.ICMSTot.vDesc > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_desconto' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vDesc | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vOutro && entity?.NFe.infNFe.total.ICMSTot.vOutro > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_outras_despesas' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vOutro | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vIPI && entity?.NFe.infNFe.total.ICMSTot.vIPI > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_ipi' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vIPI | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vIPI && entity?.NFe.infNFe.total.ICMSTot.vIPI > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_ipi' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vIPI | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vPIS && entity?.NFe.infNFe.total.ICMSTot.vPIS > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_pis' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vPIS | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vCOFINS && entity?.NFe.infNFe.total.ICMSTot.vCOFINS > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_cofins' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vCOFINS | thousandFormat"
          ></app-data-label>
        </div>
        <div *ngIf="entity?.NFe.infNFe.total.ICMSTot.vTotTrib && entity?.NFe.infNFe.total.ICMSTot.vTotTrib > 0" class="col-3">
          <app-data-label
            title="{{'field.valor_total_tributos' | appTranslate:'xml'}}"
            [value]="entity?.NFe.infNFe.total.ICMSTot.vTotTrib | thousandFormat"
          ></app-data-label>
        </div>
      </div>
      <p-divider align="center">
        <div class="inline-flex align-items-center">
          <i class="pi pi-shopping-cart mr-2"></i>
          <b>Produtos</b>
        </div>
      </p-divider>
      <div class="card flex justify-content-left">
        <p-checkbox label="Destacar monofásico?" [(ngModel)]="isExibirMonofasico" [binary]="true" inputId="binary"></p-checkbox>
      </div>
      <p-table [value]="tableData" [scrollable]="true" scrollDirection="horizontal" scrollHeight="400px">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" colspan="1">{{ 'field.prod.codigo' | appTranslate:'xml' }}</th>
            <th scope="col" style="min-width: 350px" colspan="1">{{ 'field.prod.nome' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.ncm' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.cfop' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.quantidade' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.valor_unitario' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.valor_total' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1">{{ 'field.prod.unidade_comercial' | appTranslate:'xml' }}</th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.cofins.cst.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.cofins.cst.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.cofins.aliquota.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.cofins.aliquota.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.cofins.base_calculo.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.cofins.base_calculo.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.cofins.valor.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.cofins.valor.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.pis.cst.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.pis.cst.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.pis.aliquota.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.pis.aliquota.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.pis.base_calculo.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.pis.base_calculo.label' | appTranslate:'xml' }}
            </th>
            <th scope="col" colspan="1" pTooltip="{{'field.imposto.pis.valor.desc' | appTranslate:'xml'}}">
              {{ 'field.imposto.pis.valor.label' | appTranslate:'xml' }}
            </th>
          </tr>
        </ng-template>
        <ng-template let-prod pTemplate="body">
          <tr>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.cProd}}"> {{ prod.prod.cProd }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.xProd}}"> {{ prod.prod.xProd }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.NCM}}"> {{ prod.prod.NCM }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.CFOP}}"> {{ prod.prod.CFOP }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.qCom}}"> {{ prod.prod.qCom }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.vUnCom}}"> {{ prod.prod.vUnCom | thousandFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.vProd}}"> {{ prod.prod.vProd | thousandFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span pTooltip="{{prod.prod.uCom}}"> {{ prod.prod.uCom }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.PIS?.PISAliq?.vPIS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.COFINS?.COFINSAliq?.CST }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.COFINS?.COFINSAliq?.vCOFINS | percentualFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.COFINS?.COFINSAliq?.vBC | thousandFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.COFINS?.COFINSAliq?.vCOFINS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.COFINS?.COFINSAliq?.vCOFINS | thousandFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.PIS?.PISAliq?.vPIS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.PIS?.PISAliq?.cst }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.PIS?.PISAliq?.vPIS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.PIS?.PISAliq?.pPIS | percentualFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.PIS?.PISAliq?.vPIS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.PIS?.PISAliq?.vBC | thousandFormat }} </span>
            </td>
            <td [style]="isMonofasico(prod.prod.NCM, prod.imposto?.PIS?.PISAliq?.vPIS, entity?.NFe.infNFe.ide.dhEmi)" colspan="1">
              <span> {{ prod.imposto?.PIS?.PISAliq?.vPIS | thousandFormat }} </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
