<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ (isNew ? 'title.new_page' : 'title.edit_page') | appTranslate:'preco_combustivel'}}</h5>
      </div>

      <p class="card-subtitle">{{ 'required_field' | appTranslate:'shared'}}</p>

      <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="p-fluid formgrid grid">
          <app-field class="p-field col-9 md:col-9" [submitted]="submitted" page="preco_combustivel">
            <input appFieldRef pInputText type="text" formControlName="normativo" maxlength="64" />
          </app-field>
          <app-field class="p-field col-3 md:col-3" [submitted]="submitted" page="preco_combustivel">
            <p-calendar
              appFieldRef
              formControlName="dataNormativo"
              dateFormat="dd/mm/yy"
              monthNavigator="true"
              yearNavigator="true"
              yearRange="1990:2050"
              showIcon="true"
              appDateMask
            ></p-calendar>
          </app-field>
          <app-field class="p-field col-3 md:col-3" [submitted]="submitted" page="preco_combustivel">
            <p-inputNumber
              appFieldRef
              formControlName="precoGasolina"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              maxlength="9"
              max="999.99"
              min="0.01"
            />
          </app-field>
          <app-field class="p-field col-3 md:col-3" [submitted]="submitted" page="preco_combustivel">
            <p-inputNumber
              appFieldRef
              formControlName="precoEtanol"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              maxlength="9"
              max="999.99"
              min="0.01"
            />
          </app-field>
          <app-field class="p-field col-3 md:col-3" [submitted]="submitted" page="preco_combustivel">
            <p-inputNumber
              appFieldRef
              formControlName="precoDiesel"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              maxlength="9"
              max="999.99"
              min="0.01"
            />
          </app-field>
          <app-field class="p-field col-3 md:col-3" [submitted]="submitted" page="preco_combustivel">
            <p-inputNumber
              appFieldRef
              formControlName="precoGNV"
              inputId="currency-brazil"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              maxlength="9"
              max="999.99"
              min="0.01"
            />
          </app-field>
        </div>

        <div style="margin-top: 20px">
          <app-form-buttons (onCancel)="cancel()"></app-form-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
